<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TGCT_Card_Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TGCT_Card_Maker.Properties.Settings>
            <setting name="playerName" serializeAs="String">
                <value>John Smith</value>
            </setting>
            <setting name="memSince" serializeAs="String">
                <value>May 2017</value>
            </setting>
            <setting name="playerCountry" serializeAs="String">
                <value>United States</value>
            </setting>
            <setting name="playerID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="plaform" serializeAs="String">
                <value>Steam: user</value>
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </TGCT_Card_Maker.Properties.Settings>
    </userSettings>
</configuration>